/* Styles.css */
/* Reset */
body{
  margin:0;
  font-family:Arial, Helvetica, sans-serif;
  background-color: black;
  
  background-image: url("Imagenes/historiaAudio.jpg");
  background-size: contain;         
  background-repeat: no-repeat;   
  background-position: center;
  background-attachment: fixed;   
}

/* HEADER */
.header-line{
  position:relative;
  height:48px;
  display:flex;
  justify-content:center;
  align-items:center;
  background:rgb(61, 61, 61);
}

.header-left{
  position:absolute;
  left:1rem;
  display:flex;
  align-items:center;
}

.header-left a{
  text-decoration:none;
  color:#ffffff;
  font-weight:600;
}

.header-center{
  font-weight:700;
  font-size:1.1rem;
}

.header-center a{
  text-decoration:none;
  color:#ffffff;
  font-weight:600;
}



/* --- PESTAÑA ÉPOCAS LATERAL --- */
.tab-epocas{
  position:fixed;
  left:0;
  top:50%;
  transform:translateY(-50%);
  z-index:1000;
}

.tab-button{
  transform:rotate(-90deg);
  background:white;
  padding:0.5rem 1rem;
  border-radius:6px 6px 0 0;
  border:1px solid #ddd;
  cursor:pointer;
  box-shadow:var(--shadow);
  font-weight:bold;
}

/* PANEL flotante */
.epocas-panel{
  position:fixed;
  left:50px;
  top:50%;
  transform:translateY(-50%);
  display:none;
   background: rgba(255, 255, 255, 0.395);
  padding:0.5rem;
  border-radius:8px;
  box-shadow:var(--shadow);
  border:1px solid #ccc;
}

.epocas-panel.show{
  display:block;
}

.epocas-list{
  list-style:none;
  margin:0;
  padding:0;
}

.epocas-list button{
  width:100%;
  text-align:left;
  background:none;
  border:0;
  padding:0.7rem;
  cursor:pointer;
  border-radius:6px;
  font-size:0.95rem;
}

.epocas-list button:hover{
  background:#eee;
}

/*  MAIN DE INDEX */

@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

.jt {
  position: relative;
  font-size: 2vw;
  font-family: 'Staatliches', sans-serif;
  text-transform: uppercase;
  font-display: swap;
  text-shadow: 0 0 10px rgb(0, 0, 0);

  margin: 470px 780px;       
  width: fit-content;
  text-align: center;   
}


.jt__text a {
  color: inherit;         
  text-decoration: none;  
  display: inline-block;   
}

.jt__row {
  display: block;
}
.jt__row:nth-child(1) {
  clip-path: polygon(-10% 75%, 110% 75%, 110% 110%, -10% 110%);
}
.jt__row:nth-child(2) {
  clip-path: polygon(-10% 50%, 110% 50%, 110% 75.3%, -10% 75.3%);
}
.jt__row:nth-child(3) {
  clip-path: polygon(-10% 25%, 110% 25%, 110% 50.3%, -10% 50.3%);
}
.jt__row:nth-child(4) {
  clip-path: polygon(-10% 0%, 110% 0%, 110% 25.3%, -10% 25.3%);
}

.jt__row.jt__row--sibling {
  position: absolute;
  top: 0;
  left: 0;
  user-select: none;
  witdh:800px;
}

.jt__text {
  display: block;
  transform-origin: bottom left;
  animation: moveIn 2s 0s cubic-bezier(.36,0,.06,1) alternate infinite ;
}
.jt__row:nth-child(1) .jt__text {
  transform: translateY(-0.1em);
}
.jt__row:nth-child(2) .jt__text {
  transform: translateY(-0.3em) scaleY(1.1);
}
.jt__row:nth-child(3) .jt__text {
  transform: translateY(-0.5em) scaleY(1.2) ;
}
.jt__row:nth-child(4) .jt__text {
  transform: translateY(-0.7em) scaleY(1.3) ;
}
.jt__row:nth-child(5) .jt__text {
  transform: translateY(-0.9em) scaleY(1.4) ;
}
.jt__row:nth-child(6) .jt__text {
  transform: translateY(-1.1em) scaleY(1.5) ;
}

@keyframes moveIn {
  50%, 100% { 
    transform: translateY(0em)
  }
  0%   { 
  opacity: 0; 
  filter: blur(10px);
  
  }
  100% { 
  opacity: 1; 
  filter: blur(0px);
  }
}


.debug .jt__row:nth-child(even) {
  color: black;
  background: white;
}
.debug .jt__row:nth-child(odd) {
  color: white;
  background: black;
}

* { box-sizing: border-box }


