/* Styles.css */
/* Reset */
body{
  margin:0;
  font-family:Arial, Helvetica, sans-serif;
  background-color: black;

  background-size: contain;         
  background-repeat: no-repeat;   
  background-position: center;
  background-attachment: fixed;  
  
  opacity: 0;
  animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
  to { opacity: 1; }
}

/* HEADER */
.header-line{
  position:relative;
  height:48px;
  display:flex;
  justify-content:center;
  align-items:center;
  background:rgb(61, 61, 61);
}

.header-left{
  position:absolute;
  left:1rem;
  display:flex;
  align-items:center;
}

.header-left a{
  text-decoration:none;
  color:#ffffff;
  font-weight:600;
}

.header-center{
  font-weight:700;
  font-size:1.1rem;
}

.header-center a{
  text-decoration:none;
  color:#ffffff;
  font-weight:600;
}



/* --- PESTAÑA ÉPOCAS LATERAL --- */
.tab-epocas{
  position:fixed;
  left:0;
  top:50%;
  transform:translateY(-50%);
  z-index:1000;
}

.tab-button{
  transform:rotate(-90deg);
  background:white;
  padding:0.5rem 1rem;
  border-radius:6px 6px 0 0;
  border:1px solid #ddd;
  cursor:pointer;
  box-shadow:var(--shadow);
  font-weight:bold;
}

/* PANEL flotante */
.epocas-panel{
  position:fixed;
  left:50px;
  top:50%;
  transform:translateY(-50%);
  display:none;
   background: rgba(255, 255, 255, 0.395);
  padding:0.5rem;
  border-radius:8px;
  box-shadow:var(--shadow);
  border:1px solid #ccc;
}

.epocas-panel.show{
  display:block;
}

.epocas-list{
  list-style:none;
  margin:0;
  padding:0;
}

.epocas-list button{
  width:100%;
  text-align:left;
  background:none;
  border:0;
  padding:0.7rem;
  cursor:pointer;
  border-radius:6px;
  font-size:0.95rem;
}

.epocas-list button:hover{
  background:#eee;
}

/*  MAIN 1 */

.bg-fade {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../Imagenes/EraAcustica.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0;
  animation: fadeIn 2s forwards;
  z-index: -1;
}

/* MAIN2 */
.video-fondo {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100vw;
  height: 100vh;

  object-fit: scale-down; 
  object-position: center center;

  z-index: -1;      
}

.capa-overlay {
  position: fixed;
  top: 50%;
  left: 50%;

  width: 80vw;
  height: auto;

  transform: translate(-50%, -50%); 
  
  object-fit: contain;    

  pointer-events: none; 
  z-index: -1;  

  opacity: 0;
  animation: fadeIn 50s forwards;
}


/*MAIN 3*/

.imagenBig {
  position: absolute;
  top: 50%;
  left: 50%;
  transition: transform 0.3s ease;

}

.imagenBig[data-id="1"] {   transform: translate(-50%, -46%);
  max-height: 90vh;   z-index: -1;pointer-events: none; }
 
.imagenBig[data-id="2"] {   transform: translate(-290%, -140%);
  max-height: 25vh; }
  .imagenBig[data-id="2"]:hover {
    transform: translate(-290%, -140%) scale(1.1);
  }
  
.imagenBig[data-id="3"] { transform: translate(80%, -50%);
  max-height: 40vh; z-index: 10;pointer-events: auto; cursor: pointer; }
  .imagenBig[data-id="3"]:hover {
    transform: translate(80%, -50%) scale(1.1);
  }
.imagenBig[data-id="4"] {   transform: translate(-130%, -60%);
  max-height: 35vh; }
  .imagenBig[data-id="4"]:hover {
    transform: translate(-130%, -60%) scale(1.1);
  }


  .popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  
  z-index: 999;
  pointer-events: auto;
}

.popup img {
  max-width: 70vw;
  max-height: 80vh;
  border-radius: 12px;
  transition: transform 0.3s ease;
}




/* FOOTER */
footer {
 position: fixed;
  left: 0;
  bottom: 20px;
  width: 100%;
  
  display: flex;
  justify-content: center; 
  gap: 20px; 
  padding: 0.5rem 0; 
}

.btn-imagen {
   width: 100px;
  height: 60px;
  border-radius: 12px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

.btn-imagen:hover {
  transform: scale(1.1); 
}






